h2 {
    color: red;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#submit-button{
    background-color: green;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer; */
}

.customer-details{
    display: flex;
    flex-direction: row;
}

.order-details{
    display: block;
    flex-direction: row;
}

.box-container1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1000px;
    border: 4px solid black;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.heading{
    background-color: #000;
    color: #fff;
    height: 40px;
    padding: 16px;
    margin: 0;
}

#codeazy-logo{
    width: 100px;
    height: 50px;
    object-fit: contain; /
}

.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;        /* allow full width */
    /* margin: 0 auto; */
    padding: 16px;
    background-color: black;
    margin-bottom: 50px;
}

.project-content-inner{
    width: 250px;
    height: 300px;
    border: 2px solid grey;
    border-radius: 4px;
}

.project-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
